/*Map size and margins*/
#YMaps_Map {
  margin-bottom: 15px;
}
#YMaps_Map.admin {
  height: 350px;
  width: 100%;
}

/*Style for route drawning process notifictaion*/
#edit-waiting {
  color: red;
  display: none;
  font-size: 16px;
  font-style: italic;
  vertical-align: middle;
}

/*Yandex maps balloon size, margins and paddings fix*/
table.YMaps-b-balloon-frame {
  margin: 0;
  width: auto;
}
table.YMaps-b-balloon-frame td {
  padding: 0 !important;
}
div.YMaps-b-balloon-content {
  height: auto !important;
  overflow: auto !important;
  width: auto !important;
}

/*Inline display for markers icons*/
.container-inline div label img {
  vertical-align: middle;
}